.summary-block{
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
  //border-color: #82c6d1;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  background-color: black;
  display: inline-block;
  width: auto;
}
