<div class="summary">
  <div class="summary-block">
    <h1>JB</h1>
    <h2>"Extremely curious indiviual; ceasslessly trying to navigate the waters of knowledge.
      On a more mundane note, I'm a enthusaic software engineering student at the University of Iowa.
      There, my main focus is on Big & Machine Learning.
      Aside from school, I'm just a huge nerd. A passionate autodidact
      on a vast array of subjects from finance to history to art.
      With that said, in a nutshell, I try to keep it simple.
      Never forget what made you, and go to bed each night wiser individual than the night before."
    </h2>
  </div>
</div>
