<!-- Fixed navbar -->
<nav id="navbar" class="navbar navbar-expand-md fixed-top" xmlns="http://www.w3.org/1999/html">
  <table width="100%">
    <tr>
      <td width="50%">
        <a id="navbar-brand" class="navbar-brand" href="#">JB</a>
      </td>
      <td>
        <button  routerLink="/{{ section.id }}" [style.background-image]=section.image class="section-button" id="{{ section.id }}">{{ section.text }}</button>b
        <button  routerLink="/{{ section.id }}" [style.background-image]=section.image class="section-button" id="{{ section.id }}">{{ section.text }}</button>
        <button  routerLink="/{{ section.id }}" [style.background-image]=section.image class="section-button" id="{{ section.id }}">{{ section.text }}</button>
        <div class="dropdown">
          <button class="dropbtn">Social Media</button>
          <div class="dropdown-content">
            <button onclick="window.location.href='https://github.com/jjbiggins'" id='github' class='github-white'><img src="../../assets/img/github-white.png"> GitHub</button>
            <br>
            <button onclick="window.location.href='https://www.linkedin.com/in/joseph-biggins/'" id='linkedin' class='linkedin-white'><img src="../../assets/img/linkedin-white.png"> LinkedIn </button>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Contact</button>
          <div class="dropdown-content">
            <button onclick="window.location.href='mailto:joseph-biggins@uiowa.edu'" id="email" class="email"><img src="../../assets/img/icons8-envelope-48.png"> Email</button>
            <br>
            <button onclick="window.location.href='tel:16308420626'" id="phone" class="phone"><img src="../../assets/img/icons8-phone-48.png">Call</button>
          </div>
        </div>
      </td>
    </tr>
  </table>
</nav>

<section id="hero" class="hero">
  <div class="hero-inner">
    <h1>J O E &nbsp; B I G G I N S</h1>
    <p>_______________________________________________________________________________________________________</p>
    <h2>ENGINEER &nbsp;|&nbsp; ARTIST &nbsp;|&nbsp; DESIGNER &nbsp;|&nbsp; PHILOSOPHER</h2>
  </div>
</section>

<header id="header">

</header>








