.navbar-sticky{
  //background-color: #82c6d1;
  //position: fixed;
  height: 75px;
  z-index: 75;
  background-color: white;
}


button::after{
  opacity: 0.4;
}

button:hover {
  opacity: 0.4;
}

.icon-column{
  text-align: end;
  padding: 15px;
}

.navbar{
  height: 75px;
  z-index: 75;
  background-color: transparent;
}

.navbar-brand{
  color: transparent;
  font-weight: bolder;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: transparent;
}

.sticky{
  color: white;
  font-weight: bolder;
  padding-left: 10px;
  padding-bottom: 15px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  color: white;
  text-align: left;

  /* Background styles */
  background-image: url('../../assets/img/chicago_blue.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner{
  text-align: left;
  margin-bottom: 7em;
  margin-right: 57em;
}

.hero h1{
  /* Text styles */
  font-size: 6em;

  /*Text Outlines*/
  -webkit-text-stroke-width: 4.5px;
  -webkit-text-stroke-color: white;

  /* Margins */

}

.hero h2{
  color: transparent;
  font-size: 3em;
  -webkit-text-stroke-width: 4.5px;
  -webkit-text-stroke-color: white;
}


.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;

  background-color: transparent;

  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-right: auto;

  /* Text styles */
  color: white;
  text-decoration: none;
  font-size: 1.5em;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

  /* Border styles */
  border: 5px solid white; /* CHANGE THIS LINE */
  border-radius: 20px;
}


.github-white{
  background-image: url('../../assets/img/github-white.png');
}

.linkedin-white{
  background-image: url('../../assets/img/linkedin-white.png');
}

.github{
  background-image: url('../../assets/img/github.png');
}

.linkedin{
  background-image: url('../../assets/img/linkedin.png');
}


.header{
  z-index: -999999;
  top: 0;
  width: 100%;
}

.header-sticky {
  top: 0;
  width: 100%;
}


button{
  height: 40px;
  width: 40px;
  border-style: none;
  background-color: transparent;
  background-size: 100%;
  margin: 3px;
}

@media only screen and (max-width: 640px){
  button{
    height: 40px;
    width: 40px;
    border-style: none;
    background-color: transparent;
    background-size: 100%;
    margin: 3px;
  }
}

@media only screen and (max-width: 640px){
  button{
    height: 40px;
    width: 40px;
    border-style: none;
    background-color: transparent;
    background-size: 100%;
    margin: 3px;
  }
}
