<!-- Fixed navbar -->
<nav id="navbar" class="navbar navbar-expand-md fixed-top" xmlns="http://www.w3.org/1999/html">
  <table width="100%">
    <tr>
      <td width="50%">
        <a id="navbar-brand" class="navbar-brand" style="font-size: 50px"  href="#">Joe Biggins</a>
      </td>
      <td class="icon-column">
        <button id='github' class='github-white' onclick="window.location.href='https://github.com/jjbiggins'"></button>
        <button id='linkedin' class='linkedin-white' onclick="window.location.href='https://www.linkedin.com/in/joseph-biggins/'"></button>
      </td>
    </tr>
  </table>
</nav>

<section id="hero" class="hero">
  <div class="hero-inner">
    <h1>Welcome to Joe Biggins' Portfolio</h1>
    <a href="../../assets/img/Joseph Biggins Resume.docx" class="btn">About Me</a>
  </div>
</section>

<header id="header">

</header>








