footer{
  //background-color: #82c6d1;
  background-color: white;
  height: 100px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  position: relative;
}


p{
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 0%;
  line-height: 60px;
  font-size: 24px;
}

body{
  padding-top: 40px;
}
