.container-fluid{
  padding: 0;
}

app-section-list{
  align-content: center;
}

p{
  color: white;

  font-family: "Lato Hairline";
  font-size: 1em;

  display: inline-block;
}

h2{
  color: white;

  font-family: "Lato Hairline";
  font-size: 3em;
}
